/* 
    Created on : Apr 10, 2015, 1:23:30 AM
    Author     : Nathan Crause
*/

.media-list.social-list li.media {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.media-list.social-list li.media .media-object {
	max-width: 150px;
	height: auto;
}

.media-icon {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: black;
	color: white;
}